<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <% @article.a_method_used_for_validation_purposes %>

      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <%= form.select(:article_id, options_from_collection_for_select(Article.all, :id, :title) ) %>
  <%= select_year(2009) %>
  <%= select_year(Time.now) %>
  <br></br>
  <%= form.file_field :picture %>

  <p>
    <%= form.submit %>
  </p>


<% end %>