<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<table border=1>
  <tr>
    <th>Article count</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td style="width:100px"><%= article%></td>
    </tr>
  <% end %>
</table>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
<br></br>
<%= link_to 'Back', articles_path %>